# --- CONFIGURATION GÉNÉRALE ---
APP_ENV=development # 'development' ou 'production' pour le hot-reload [2]
LOG_LEVEL=info # Pour le logging structuré JSON [3]

# --- BASE DE DONNÉES (PROD/DEV) ---
# Note : Utilisez le nom du service défini dans docker-compose comme HOST
DB_HOST=database
DB_PORT=5432
DB_USER=forge_user
DB_PASSWORD=forge_password_secure
DB_NAME=taskforge_db

# --- BASE DE DONNÉES (TEST) ---
# Utilisée par Go pour les tests unitaires et la logique métier critique [4]
TEST_DB_HOST=database
TEST_DB_PORT=5433
TEST_DB_USER=forge_tester
TEST_DB_PASSWORD=test_password_secure
TEST_DB_NAME=taskforge_test_db

# --- BACKEND (GO) ---
BACKEND_PORT=8080
BACKEND_PORT_DEV=50051
# Secret pour la génération des tokens JWT et la gestion des rôles (admin, tech, standard) [5]
JWT_SECRET=lLfWi2vXFAgRjgtfLXfl0SRLV8ceyxviRR2MJ0K2VMi5Pgw91tgV1U5RhC1jgyuH
# Configuration des métriques Prometheus [3]
METRICS_PORT=9090

# --- FRONTEND (ANGULAR) ---
# URL de l'API utilisée par Angular pour communiquer avec le backend
API_URL=http://localhost:8080/api
API_URL_DEV=http://localhost:50051/api

# --- REVERSE PROXY (TRAEFIK) ---
# Si vous utilisez .htpasswd pour le dashboard Traefik
TRAEFIK_DASHBOARD_USER=admin
TRAEFIK_DASHBOARD_PASSWORD_HASH=votre_hash_htpasswd

PROJECT=taskforge