<form (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="firstname">Prénom</label>
    <input
      type="text"
      id="firstname"
      class="form-control tf-input"
      name="firstname"
      [(ngModel)]="firstname"
      placeholder="Jean"
      required
    />
  </div>

  <div class="form-group">
    <label for="lastname">Nom</label>
    <input
      type="text"
      id="lastname"
      class="form-control tf-input"
      name="lastname"
      [(ngModel)]="lastname"
      placeholder="Dupont"
      required
    />
  </div>

  <div class="form-group">
    <label for="register-email">Email</label>
    <input
      type="email"
      id="register-email"
      class="form-control tf-input"
      name="email"
      [(ngModel)]="email"
      placeholder="nom@exemple.com"
      required
    />
  </div>

  <div class="form-group">
    <label for="register-password">Mot de passe</label>
    <input
      type="password"
      id="register-password"
      class="form-control tf-input"
      name="password"
      [(ngModel)]="password"
      placeholder="Au moins 8 caractères"
      required
    />
  </div>

  <button type="submit" class="btn-submit tf-button tf-button--primary">S'inscrire</button>
</form>